<% if user_signed_in? %> 
  <p style="color: green"><%= notice %></p>

  <div class="flex items-center space-x-4 mb-4">
    <%= link_to "Criar local", new_local_path, class: "text-yellow-800 hover:text-yellow-600" %> 
  </div>

  <div id="locals">
    <% @locals.each do |local| %>
      <%= render local %>
    <% end %>
  </div>

<% else %>
  <%= button_to "Entrar", new_user_session_path, class: "text-yellow-800 hover:text-yellow-600" %> 
<% end %>


