<% content_for :body_class, 'body' %>

<div class="max-w-2xl mx-auto my-8 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-3xl font-bold mb-4">Sobre</h1>

  <p class="text-gray-700">
    Bem-vindo ao Grupos de Jovens Cristãos Brasil! <br>
    <br>
    Somos uma plataforma dedicada a conectar jovens cristãos em todo o Brasil, proporcionando um espaço virtual para pesquisa e registro de grupos de jovens. Se você está em busca de comunidades cristãs vibrantes e inspiradoras em sua região, você está no lugar certo.
    <br>
    <br>
    Navegue por nossa plataforma para descobrir grupos de jovens cristãos próximos a você. Encontre encontros semanais, eventos especiais e oportunidades para se envolver em atividades que fortalecem a fé e promovem a comunhão entre os jovens que compartilham valores cristãos.
    <br>
    <br>
    Se você lidera ou participa de um grupo de jovens, aproveite para registrar seu grupo conosco. Dessa forma, você estará contribuindo para a expansão dessa rede de comunidades que buscam viver a fé de maneira autêntica e relevante.
    <br>
    <br>
    Junte-se a nós no Grupos de Jovens Cristãos Brasil, onde a comunhão, a amizade e o crescimento espiritual se encontram!
  </p>
</div>
