<% content_for :body_class, 'body' %>

<div class="max-w-2xl mx-auto my-8 p-6 bg-white rounded-lg shadow-md">
  <h1 class="text-3xl font-bold mb-4">Contato</h1>

  <p class="text-gray-700">
    Construído por João Gabriel Dal Forno utilizando Ruby on Rails.
    <br>
    <br>
    Entre em contato por: 
    <br>
    <a href="https://www.linkedin.com/in/joaogabrieldf/" class="text-blue-500 hover:underline">Linkedin</a>
    <br>
    <a href="joao.dal@acad.ufsm.br" class="text-blue-500 hover:underline">Email</a>
  </p>
</div>
