<footer class="bg-yellow-200 text-white p-4">
  <div class="container flex justify-between items-center">
    <small>
      <%= link_to 'Local Sagrado. Todos os direitos reservados.', root_path, class: 'text-gray-700' %>
    </small>
  </div>
</footer>

