<nav class="bg-gray-800 p-4">
  <div class="container mx-auto">
    <ul class="flex">
      <li class="mr-6"><%= link_to 'Local Sagrado', root_path, class: 'text-white' %></li>
      <li class="mr-6"><%= link_to 'Sobre', about_path, class: 'text-white' %></li>
      <li><%= link_to 'Contato', contact_path, class: 'text-white' %></li>
    </ul>
  </div>
</nav>

